.container{
  text-align: center;
}
.name{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}
#canvas{
  border: 2px solid black;
    }
#reset{
padding: 50px;
font-size: 50px;
font-weight: bolder;
display: block;
margin-left: 80%;
}
